.sidebar{
   width: 50px;
   height: 100vh;

   border-right: 1px solid #dbdbdb;

   padding: 20px 10px;

   display: flex;
   flex-direction: column;
   justify-content: space-between;

   position: fixed;
   left: 0;
   top: 0;
   z-index: 1001;
   background: white;

   transition: 0.3s;
}

.sidebar.expanded{
   width: 250px;
}

.logo{
   display: flex;
   align-items: center;
   gap: 15px;

   font-size: 26px;
   margin-bottom: 40px;

   cursor: pointer;
}

.sidebar-menu{
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.sidebar-item,
.more-section{
   display: flex;
   align-items: center;
   gap: 15px;

   padding: 12px;
   border-radius: 10px;

   cursor: pointer;

   font-size: 18px;
}

.sidebar-item:hover,
.more-section:hover{
   background: #f2f2f2;
}

.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  z-index: 1000;
}